* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    height: 5vh;
    width: 100vw;
    background: linear-gradient(to right,white, skyblue, white);
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    
}